<!DOCTYPE html>
<html>
	<head>
		<% include template/header.html %>
	</head>
	<body>
		<div class="container">
		    <div class='page-header'>
		        <h2>RMS Renewal Online <small>Officer Home</small></h2>
		    </div>
		  	<div class="panel panel-default">
		  		<div class="panel-heading clearfix">
		  			<div class="panel-title pull-left"><h3>Renewals</h3></div>
		  			<div class="pull-right">
		  				<button id="renewals" type="button" class="btn btn-default">Generate Renewals</button>
					</div>
				</div>
			  	<table class="table table-default">
			  		<tbody>
					  	<% regos.forEach(function(rego) { %>
					  	<tr>
					  		<td><a href="/renewal/<%= rego.registration.registrationNumber %>"><%= rego.registration.registrationNumber %></a><td>
					  		<td><%= rego.status %></td>
					  		<td align="right"><div class="btn-group" role="group">
					  			<button id="auto-check-<%= rego.registration.registrationNumber %>"
						  			rnum="<%=rego.registration.registrationNumber%>"
						  			lname="<%=rego.registration.driver.lastName%>"
						  			fname="<%=rego.registration.driver.firstName %>"
						  			type="button" class="btn btn-default btn-xs">
								  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
								</button>
								<button id="update-status-<%= rego.registration.registrationNumber %>" type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#status-update-modal">
								  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								</button>
							</div></td>
					  	</tr>
					  	<% }); %>
				  	</tbody>
			  	</table>
                <div id="error-message">
                </div>
			</div>
			<div id="status-update-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body">
							<form action="/" method="post">
								<div class="radio">
									<label class="radio-inline">
										<input type="radio" name="status" id="status" value="accept">
										Accept
									</label>
									<label class="radio-inline">
										<input type="radio" name="status" id="status" value="reject">
										Reject
									</label>
								</div>
								<div id="reject" class="form-group">
								    <label for="rejection-reason">Rejection Reason</label>
								    <textarea class="form-control" name="reason" id="rejection-reason" placeholder="Reason">
								    </textarea>
								</div>
								<div id="accept" class="form-group">
								    <label for="accept-fee">Fee</label>
								    <div class="input-group">
								    	<div class="input-group-addon">$</div>
								    	<input type="text" class="form-control" name="fee" id="accept-fee" placeholder="Enter Dollar amount">
								    </div>
								</div>
								<input type="hidden" name="rego" id="rego">
								<input id="update" type="submit" class="btn btn-primary" value="Submit">
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		<% include template/footer.html %>
		<script>
			$('button').click(function () {
				var target = $(this).attr('id');
				if (typeof target != 'undefined' && target === 'renewals') {
					$.get('/renewals', function (data) {
						$('body').html(data);
						location.reload();
					});
				} else if (typeof target != 'undefined' && target.includes('auto-check')) {
					var lname = $(this).attr('lname');
					var fname = $(this).attr('fname');
					var rnum = $(this).attr('rnum');
					var result = "";

					data = {
						"lname" : lname,
						"fname" : fname,
						"rnum" : rnum
					}

					$.ajax({
						type: "POST",
						url: "/autocheck",
						data: data,
			            dataType: "json",
			            success: function(data, status, req){
			            	
			            	xmlDoc = $.parseXML(data.body);
			            	result = $(xmlDoc).find("result").text();

			            	results = {
				            	'GSCheck' : $(xmlDoc).find("GSCheck").text(),
				            	'AgeCheck' : $(xmlDoc).find("AgeCheck").text(),
				            	'PSCheck' : $(xmlDoc).find("PSCheck").text()
				            }

			            	details = "";

			            	for (var key in results) {
			            		if(results[key]){
			            			details += key + ' : ' + results[key] + '\n';
			            		}          		
			            	}

			            	details += "Output closed"

			            	console.log(details);
			            	console.log(result);

                    if (result === 'Accept') {
                        $('#status[value=accept]').attr('checked','');
                        $('#status[value=reject]').attr('disabled', 'disabled');
                        $('#status[value=accept]').click();
                    } else if (result === 'Reject') {
                        $('#status[value=reject]').attr('checked','');
                        $('#status[value=accept]').attr('disabled', 'disabled');
                        $('#status[value=reject]').click();
                        $('#rejection-reason').val(details);
                    } else if (result === 'Error') {
                        $('#error-message').text(details);
                        $('#rejection-reason').val(details);
                    }
                    
                    $('#error-message').text(details).wrap('<pre />');
			            },
					  	error: function(data, status, req) {
					  		console.log(data);
					  	}
					});					

				} else if (typeof target != 'undefined' && target.includes('update-status')) {
					var regoId = target.match(/status-(.*)/)[1];
					$('#accept').hide();
					$('#reject').hide();
					$('#update').hide();
					$('#status-update-modal').find('.modal-title').text('Update Status - ' + regoId);
					$('#status-update-modal').find('#rego').val(regoId);

					if($('#status[value=accept]').attr('checked')){
						$('#status[value=accept]').click();
					}else{
						$('#status[value=reject]').click();
					}
				}
			});

			$('[name=status]').click(function () {
				$('#update').show();
				if ($(this).val() === 'accept') {
					$('#accept').show();
					$('#reject').hide();
				} else if ($(this).val() === 'reject') {
					$('#reject').show();
					$('#accept').hide();
				}
			});

		</script>
	</body>
</html>