<!DOCTYPE html>
<html>
	<head>
		<% include template/header.html %>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
		        <div class="btn-toolbar pull-right">
		            <div class="btn-group">
		                <a href="/" id="driver" type="button" class="btn btn-primary">Officer</a>
		            </div>
		        </div>
				<h2>RMS Renewal Online <small>Driver Renewal Archived</small></h2>
			</div>
		  	<div class="panel panel-default">
		  		<div class="panel-heading"><h3>Renewal</small></h3></div>
		  		<h3>Renewal archived!</h3>
			</div>
		</div>
		<% include template/footer.html %>
	</body>
</html>